accelerate>=0.26.0
datasets>=2.19.0
funcy>=2.0
jupyter>=1.0.0
matplotlib>=3.5.2
munch>=2.5.0
numpy>=1.22.3
pandas>=1.4.2
protobuf>=3.20.1
pyyaml>=6.0
quinine>=0.3.0
safetensors>=0.4.0
scikit-learn>=1.0.2
scipy>=1.8.0
seaborn>=0.11.2
torch>=1.11.0
tqdm>=4.64.0
transformers>=4.40.0
wandb>=0.12.11
xgboost>=1.6.1
